<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>controle.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationStudent</servlet-name>
        <servlet-class>controle.RegistrationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Porject</servlet-name>
        <servlet-class>controle.Porject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>material</servlet-name>
        <servlet-class>controle.material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>material_source</servlet-name>
        <servlet-class>controle.material_source</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Password</servlet-name>
        <servlet-class>controle.Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>controle.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controle.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controle.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_update</servlet-name>
        <servlet-class>controle.select_to_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controle.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update1</servlet-name>
        <servlet-class>controle.Update1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_student</servlet-name>
        <servlet-class>controle.delete_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_doctor</servlet-name>
        <servlet-class>controle.add_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_update_doctor</servlet-name>
        <servlet-class>controle.select_to_update_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_doctor</servlet-name>
        <servlet-class>controle.update_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_doctor</servlet-name>
        <servlet-class>controle.delete_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_material</servlet-name>
        <servlet-class>controle.add_material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_update_material</servlet-name>
        <servlet-class>controle.select_to_update_material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_material</servlet-name>
        <servlet-class>controle.update_material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_delete_material</servlet-name>
        <servlet-class>controle.select_to_delete_material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_task</servlet-name>
        <servlet-class>controle.add_task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_update_tasks</servlet-name>
        <servlet-class>controle.select_to_update_tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_tasks</servlet-name>
        <servlet-class>controle.update_tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_to_delete_tasks</servlet-name>
        <servlet-class>controle.select_to_delete_tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_send</servlet-name>
        <servlet-class>controle.admin_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_degree</servlet-name>
        <servlet-class>/add_degree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>degree</servlet-name>
        <servlet-class>controle.degree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_degree</servlet-name>
        <servlet-class>controle.delete_degree</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/ghonem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationStudent</servlet-name>
        <url-pattern>/RegistrationStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Porject</servlet-name>
        <url-pattern>/student_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>material</servlet-name>
        <url-pattern>/material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>material_source</servlet-name>
        <url-pattern>/material_source</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Password</servlet-name>
        <url-pattern>/Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_update</servlet-name>
        <url-pattern>/select_to_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update1</servlet-name>
        <url-pattern>/Update1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_student</servlet-name>
        <url-pattern>/delete_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_doctor</servlet-name>
        <url-pattern>/add_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_update_doctor</servlet-name>
        <url-pattern>/select_to_update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_doctor</servlet-name>
        <url-pattern>/update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_doctor</servlet-name>
        <url-pattern>/delete_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_material</servlet-name>
        <url-pattern>/add_material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_update_material</servlet-name>
        <url-pattern>/select_to_update_material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_material</servlet-name>
        <url-pattern>/update_material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_delete_material</servlet-name>
        <url-pattern>/select_to_delete_material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_task</servlet-name>
        <url-pattern>/add_task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_update_tasks</servlet-name>
        <url-pattern>/select_to_update_tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_tasks</servlet-name>
        <url-pattern>/update_tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_to_delete_tasks</servlet-name>
        <url-pattern>/select_to_delete_tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_send</servlet-name>
        <url-pattern>/admin_send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_degree</servlet-name>
        <url-pattern>/add_degree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>degree</servlet-name>
        <url-pattern>/degree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_degree</servlet-name>
        <url-pattern>/delete_degree</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index-3.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/register.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
